﻿@using GameStore.Domain.Entities
@model IEnumerable<Game>

@{
    ViewBag.Title = "Товары";
}

@foreach (var p in @Model)
{
    <div>
        <h3>@p.Name</h3>
        <p>@p.Description</p>
        <h4>@p.Price.ToString("# леи")</h4>
    </div>
}