﻿
.nav-link {
    font-size: 1.1em !important
}

.carousel-inner {
    height: 550px;
}

    .carousel-inner img {
        width: 100%;
        height: 100%;
    }

@media (min-widht: 1100px) {
    .carousel-inner img {
        width: 100%;
        height: 100%;
    }

    .carousel-caption {
        position: absolute;
        top: 30%;
        text-shadow: 1px 1px 10px #000;
    }
}
 @media (max-widht: 450px) {
    .carousel-caption .display-2 {
        font-size: 3em;
    }
}

