﻿
<nav class="navbar-expand-md navbar navbar navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <a href="#" class="navbar-brad"><img src="~/Content/img/4.png" alt=""></a>
        <a href="#" class="navbar-brad"><img src="~/Content/img/icon1.png" alt=""></a>
        <a href="#" class="navbar-brad"><img src="~/Content/img/icon2.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a href="#" class="nav-link">Главная</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Про нас</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Контакты</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Сервис</a>
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Магазин", "List", "Game")
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Регистрация</a>
                </li>
            </ul>
        </div>
    </div>
</nav>